# Scraping and Importing Data

Data comes in various formats but some of the most common fomarts are:

- CSV
- Excel Files
- Json (Java Script Object Notation)
- XML/HTML (Web Scraping)

CSV is short for Comma Separated Values. However, the CSV format can be used for any delimited file (comma or not). Usually, pandas is used to read CSV files. This is a very file format used in Data Science.

Pandas assumes that the default delimeter is comma (,) and that the first row is the header. If we do not want to use the first row as the Header, we pass the argument Header="None"

In [18]:
import pandas as pd #Importing the Pandas Library
data_csv=pd.read_csv("winequality-red.csv")
data_csv.head(3)

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...

It appears that for the winequality red dataset, the delimiter is not comma but semi-colon " ; "

Let us import it again ðŸ™‚

In [19]:
data_csv2=pd.read_csv("winequality-red.csv",delimiter=';')
data_csv2.head()
#This is much better

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [20]:
#How about if we want to remove the first row as header (although for this file, the first row should be the header)

data_csv3=pd.read_csv("winequality-red.csv",delimiter=';',header=None)
data_csv3.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,7.4,0.7,0,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
2,7.8,0.88,0,2.6,0.098,25,67,0.9968,3.2,0.68,9.8,5
3,7.8,0.76,0.04,2.3,0.092,15,54,0.997,3.26,0.65,9.8,5
4,11.2,0.28,0.56,1.9,0.075,17,60,0.998,3.16,0.58,9.8,6

Next, we are going to attempt importing an Excel File. The datset we will be importing is the Titanic Dataset. A unique thing about Excel Files is its ability to store different datasets in different sheets inside one Excel File. Each Sheet can be imported into a pandas dataframe as seen here:

In [21]:
data=pd.ExcelFile('titanic.xlsx')
print (data.sheet_names) #It prints out all the sheets in the Excel File

df1=data.parse('complete') #Extracting the data in the first sheet
display(df1.head())

df2=data.parse('numeric') #Extracting the data in the second sheet
display(df2.head())

['complete', 'numeric']

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Haghish, E. F.",male,30.0000,0,0,24058,26.5500,A1 Special,S,1,NaN,"Odense, Denmark"
1,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
2,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"

   pclass  survived     sex      age  sibsp  parch boat   body
0       1         1    male  30.0000      0      0    1    NaN
1       1         1  female  29.0000      0      0    2    NaN
2       1         1    male   0.9167      1      2   11    NaN
3       1         0  female   2.0000      1      2  NaN    NaN
4       1         0    male  30.0000      1      2  NaN  135.0

JSON was originally used for encapsulating Javascript Objects. Json files are also very important because Json Data is returned from some APIs e.g. Github API

## Importing Data From Web

In [22]:
import requests
url = "https://www.wikipedia.org/"
data = requests.get(url)
text = data.text
print (text[100:110])

ConnectionError: HTTPSConnectionPool(host='www.wikipedia.org', port=443): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x00000204794E21C8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed'))

HTML/XML is a mixture of Structured and Unstructured Data. A very useful parser for HTML is the Beautiful Soup Library. Beautiful Soup helps to extract information from HTML data.

In [ ]:
from bs4 import BeautifulSoup
import requests
url = 'https://www.crummy.com/software/BeautifulSoup/'
data = requests.get(url)
html_data = data.text
soup = BeautifulSoup(html_data)
print (soup)

As we can see above, there is a mixture of Structured and Unstructured data with the dataset containing many tags. Let us explore the Beautiful Soup to extract information from this data

In [ ]:
print (soup.title) #This prints out the Title from the link

In [ ]:
print (soup.get_text()) #This prints out the useful text from the data

In [ ]:
#We can also search for certain tags in our "soup" For instance, the code below prints out all the links in the webpage

for link in soup.find_all('a'):
    print(link.get('href'))

Another way of obtaining data from the web is by obtaining data from APIs and this is done using JSON Data. JSON data originated as a way of enapsulating Javascript Objects at first. 

The following are the JSON data types:

- Number e.g. 1.0 (It is always represented as floating point)
- Sting e.g. 'Json'
- Boolean e.g. True/False
- List/Array 
- Dictionary (Called Object in Java Script)

XML/HTML seems to loosing out to JSON because JSON is easier to parse.

It is noteworthy that several Websites use APIs, Twitter, Uber, Github, Facebook, INstagram etc.

In [ ]:
import json
with open('titanic.json', 'r') as json_file: #Assuming you have the JSON File saved in your local computer already
    json_data = json.load(json_file)
    print (type(json_data))
#As can been seen here, Json Data is loaded as a dictionary in Python

In [ ]:
import requests
url = 'http://www.omdbapi.com/?apikey=72bc447a&t=the+social+network'
r = requests.get(url)
json_data = r.json()
for key, value in json_data.items():
    print(key + ':', value)

What we did above is similar to what was done in HTML requests. The difference here is that we use Json. Why? The reason is the the link: www.omdbapi.com is used to query the ombapi API

## Regular Expression in Python

Regular expression is also known as regex, it is like a language to search and extract string patterns from a larger text. It is very popular in almost all computer languages. It is also a very useful tool in data science, text mining and NLP. In python, it is implemented in the module **re**.

A Regex Pattern is used to represent generic text, numbers of symbols so as to extract text that follows that pattern. An example would be the White space character : **'\s'** , If we include '+' notation, this will make the pattern to match at least 1 or more spaces (including the tab '\t'). Hence we have: **'\s+'**

The code below imports the Regular Expression Package (re)

In [ ]:
import re

### Spliting Text Using Regular Expression

Regular Expression can be used to split text into smaller texts, we can split based on white space. As said earlier, the '\s+' is a pattern to match at least one or more spaces. 

To split text using Regular Expression, there are 2 methods we can choose to go for:

In [23]:
#Method 1
import re
text='I am Awojide Margaret.    I love AISaturday Lagos'
re.split('\s+',text)

['I', 'am', 'Awojide', 'Margaret.', 'I', 'love', 'AISaturday', 'Lagos']

In [29]:
#Method 2
#To use method 2, we first of all compile the regex:
import re
regex=re.compile('\s+')
text='I am Awojide Margaret.    I love AISaturday Lagos'
regex.split(text)

['I', 'am', 'Awojide', 'Margaret.', 'I', 'love', 'AISaturday', 'Lagos']

Assuming the text is separated by hyphens instead of white spaces:

In [30]:
text='I-am-Awojide Margaret.-I-love-AISaturday-Lagos'
re.split('-',text)

['I', 'am', 'Awojide Margaret.', 'I', 'love', 'AISaturday', 'Lagos']

In [31]:
regex=re.compile('-')
regex.split(text)

['I', 'am', 'Awojide Margaret.', 'I', 'love', 'AISaturday', 'Lagos']

If you know that your text would most likely be separated by a particular pattern (e.g.Whitespace), you can just compile the regex and continue using it rather than using re.split

### Using Regular Expressions to Find

Asides using it to split a text into smaller texts, Regular Expressions is used to find/search for a text in a larger text. For instance, findall() is used to find all instances in a text. The special character '\d' is a regular expression which matches any digit. Adding a '+' symbol to it mandates the presence of at least 1 digit to be present in order to be found.

In [36]:
text='There are 32 boys in my class and 64 girls. Totalling 96 children in all. How many people are in your class, 100?'
re.findall('\d+',text)

['32', '64', '96', '100']

But unlike findall which returns the matched portions of the text as a list, regex.search() returns a particular match object that contains the starting and ending positions of the first occurrence of the pattern.

Likewise, regex.match() also returns a match object. But the difference is, it requires the pattern to be present at the beginning of the text itself.